body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #5f4949;
}

.calculator {
    background: rgba(208, 236, 26, 0.284);
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}

input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

button {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}
